<div class="card">
	<div class="card-header">
		<p class="card-header-title">Sign in</p>
	</div>
	<div class="card-content">
		<form (ngSubmit)="onSignin(f)" #f="ngForm">
			<div class="field">
				<label for="email" class="label">Email :</label>
				<p class="control">
					<input type="text" id="email" name="email" ngModel class="input">
				</p>
			</div>
			<div class="field">
				<label for="password" class="label">Password :</label>
				<p class="control">
					<input type="password" id="password" name="password" ngModel class="input">
				</p>
			</div>
			<button type="submit" class="button is-success input">Sign in</button>
		</form>
	</div>
	<footer class="card-footer">
		<div class="card-footer-item">
		</div>
	</footer>
</div>