<div class="section">
  <h1 class="title"><span *ngIf="events.length > 0">{{ events.length }} </span>Event near :</h1>
  <address-input (newAddress)="updateCenter($event)"></address-input>
  <div *ngIf="mapReady" id="map">
    <agm-map [latitude]="center.lat" [longitude]="center.lng" [zoom]="12" >
      <agm-marker
        *ngFor="let event of events"
        [latitude]="event.latitude"
        [longitude]="event.longitude"
        (keyup)="cancelSubmit(e)"
      >
        <agm-info-window>
          <div class="info-window">
            <p class="title">{{ event.name }}</p>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
