/* You can add global styles to this file, and also import other style files */

@import './variables.sass';

$blue: hsl(217, 71%,  53%) !default

.underline {
	cursor: pointer;
	text-decoration: underline;
}

.blue {
	color: $blue;
}

body * {
	font-family: "Open Sans";
}

.clear {
  clear:both;
}

html {
  font-size: 20px;
  background: #efefef;
  @media screen and (max-width: $tablet) {
    font-size: 16px;
    & .is-fluid {
      padding: 0;
    }
  }
}

// .navbar {
//   height: 120px;
// }

.flex {
  display: flex;
  align-items: center;
}

.cursor {
  cursor: pointer;
}
